* {
    margin: 0;
    padding: 0;
}

/*
header
-----------------------------------*/

.header {
    height: 200px;
    background-image: url('../images/kumo.png'), linear-gradient(#3abde7, #bce3f5);
    background-repeat: repeat-x;
    background-position: bottom;
    width: calc(100% * 6);
}

.header:after {
    content: '';
    display: block;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/nami.png);
    background-repeat: repeat-x;
    background-position: bottom;
    width: calc(100% * 6);
}

.header_fune {
    position: fixed;
    left: 0;
    top: 0;
}


.header_shima {
    text-align: right;
}

/*---------------------------------*/

.main {
    background-image: linear-gradient(#29a9e0, #2e3392);
    position: absolute;
    top: 188px;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% * 6);
    display: flex;
}

.portfolio-item {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.portfolio-item > * {
    position: absolute;
}

/* common */

p.fukidashi {
    width: 462px;
    height: 359px;
    left: 712px;
    top: 53px;
    z-index: 3;
}

p.fune {
    width: 662px;
    height: 616px;
    left: 28px;
    top: 77px;
    z-index: 1;
}

/* about */

p.adobe_img {
    width: 228px;
    height: 303px;
    left: 220px;
    top: 388px;
    z-index: 6;
}

p.adobe_text {
    width: 360px;
    height: 54px;
    left: 747px;
    top: 92px;
    z-index: 5;
}

p.Photoshop {
    width: 79px;
    height: 72px;
    left: 1077px;
    top: 213px;
    z-index: 4;
}

p.tatunoko {
    width: 266px;
    height: 192px;
    left: 747px;
    top: 452px;
    z-index: 2;
}

p.tatunoko img {
    position: absolute;
}

/* banner */

p.banner_img {
    width: 514px;
    height: 290px;
    left: 64px;
    top: 395px;
    z-index: 7;
}

p.banner_text {
    width: 382px;
    height: 54px;
    left: 747px;
    top: 93px;
    z-index: 6;
}

p.Photoshop {
    width: 79px;
    height: 72px;
    left: 1077px;
    top: 214px;
    z-index: 5;
}

p.fukidashi {
    width: 462px;
    height: 359px;
    left: 712px;
    top: 54px;
    z-index: 4;
}

p.jyugon2 {
    width: 223px;
    height: 127px;
    left: 930px;
    top: 434px;
    z-index: 3;
}

p.jyugon2 img {
    position: absolute;
}

p.jyugon1 {
    width: 232px;
    height: 103px;
    left: 775px;
    top: 497px;
    z-index: 2;
}

p.jyugon1 img {
    position: absolute;
}

/* goal */

p.gool {
    width: 536px;
    height: 264px;
    left: 51px;
    top: 408px;
    z-index: 9;
}

p.kujira {
    width: 542px;
    height: 224px;
    left: 639px;
    top: 512px;
    z-index: 8;
}

p.kujira img {
    position: absolute;
}

p.jyugonn {
    width: 223px;
    height: 127px;
    left: 650px;
    top: 374px;
    z-index: 7;
}

p.goal_tatunoko {
    width: 260px;
    height: 192px;
    left: -6px;
    top: 702px;
    z-index: 6;
}

p.goal_kurage1 {
    width: 99px;
    height: 100px;
    left: 331px;
    top: 705px;
    z-index: 5;
}

p.goal_kame3 {
    width: 91px;
    height: 58px;
    left: 818px;
    top: 327px;
    z-index: 4;
}

p.goal_kame2 {
    width: 91px;
    height: 58px;
    left: 936px;
    top: 269px;
    z-index: 3;
}

p.goal_kame1 {
    width: 161px;
    height: 102px;
    left: 717px;
    top: 196px;
    z-index: 2;
}

/* kukei */

p.kukei_img {
    width: 217px;
    height: 306px;
    left: 208px;
    top: 389px;
    z-index: 7;
}

p.kukei_text {
    width: 368px;
    height: 53px;
    left: 747px;
    top: 93px;
    z-index: 6;
}

p.illustrator {
    width: 78px;
    height: 72px;
    left: 1078px;
    top: 213px;
    z-index: 5;
}

p.kurage2 {
    width: 99px;
    height: 100px;
    left: 965px;
    top: 420px;
    z-index: 3;
}

p.kurage2 img {
    position: absolute;
}

p.kurage1 {
    width: 168px;
    height: 170px;
    left: 725px;
    top: 457px;
    z-index: 2;
}

p.kurage1 img {
    position: absolute;
}

/* label */

p.label_img {
    width: 243px;
    height: 280px;
    left: 195px;
    top: 399px;
    z-index: 8;
}

p.label_text {
    width: 391px;
    height: 84px;
    left: 747px;
    top: 92px;
    z-index: 7;
}

p.illustrator {
    width: 78px;
    height: 72px;
    left: 1078px;
    top: 213px;
    z-index: 6;
}

p.kame3 {
    width: 91px;
    height: 58px;
    left: 907px;
    top: 560px;
    z-index: 4;
}

p.kame3 img {
    position: absolute;
}

p.kame2 {
    width: 91px;
    height: 58px;
    left: 829px;
    top: 462px;
    z-index: 3;
}

p.kame2 img {
    position: absolute;
}

p.kame1 {
    width: 161px;
    height: 102px;
    left: 829px;
    top: 667px;
    z-index: 2;
}

p.kame1 img {
    position: absolute;
}

/* logo */

#goal img {
    position: absolute;
}

p.rogo_img {
    width: 501px;
    height: 286px;
    left: 69px;
    top: 398px;
    z-index: 6;
}

p.rogo_text {
    width: 310px;
    height: 84px;
    left: 747px;
    top: 93px;
    z-index: 5;
}

p.Photoshop {
    width: 79px;
    height: 72px;
    left: 1077px;
    top: 214px;
    z-index: 4;
}

p.fukidashi {
    width: 462px;
    height: 359px;
    left: 712px;
    top: 54px;
    z-index: 3;
}

p.kujira_goal {
    width: 542px;
    height: 224px;
    left: 658px;
    top: 460px;
    z-index: 2;
}

p.fune {
    width: 662px;
    height: 616px;
    left: 28px;
    top: 77px;
    z-index: 1;
}


#east {
    opacity: 0;

}

.btn {
    color: blue;
    padding: 1em;
    background-color: #fff;
    text-decoration: none;
    font-family: 'Sigmar One', cursive;
    font-size: 2rem;
    border-radius: 60px;

}
